.new-feature {
    font-size: 8px;
}

.zone-box {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid;
    max-height: 300px;
    min-height: 300px;
    min-width: 150px;
    overflow-y: scroll;
    position: relative;

    .zone {
        padding: 5px 0;

        label {
            cursor: pointer;
        }
    }
}

.select-all {
    float: left;
    margin-right: 3px;

}

.delete-all {
    float: right;
}

.sel-all {
    float: right;
    margin-right: 5px;
}

.add-to-zone {
    float: right;
}

.other-buttons {
    margin-right: 280px;

    .delete-all {
        margin-right: 5px;
    }
}

.modal.in .modal-dialog {
    transform: translate(0, 60px);
}