.new-feature {
    font-size: 8px;
}

.zone-box {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #aaa;
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 15px 20px #ccc;
    margin-bottom: 15px;

    .zone {
        padding: 5px 0;

        label {
            cursor: pointer;
        }
    }

    .badge {
        font-size: 8px;
    }
}

.select-all {
    float: left;
    margin-right: 3px;

}

.other-buttons {
    margin-right: 280px;

    .delete-all {
        margin-right: 5px;
    }
}

.modal.in .modal-dialog {
    transform: translate(0, 60px);
}

.ship-to {
    text-align: center;
    padding-top: 100px;
}

hr {
    margin-top: 0;
}

.add-to-cart-form {
    span, label {
        font-size: 14px;
    }

    label {
        margin: 4px;
    }

    span {
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-
    }
}